:root {
    --font-heading: futura;
    --font-main: caslon;
    --indent-base: 16px;
    --accent-color: #69433A; 
    --main-color: #ACC196;
    --light-color: #D7E1CB;
    --dark-color: #311d16;
  }

* {
    text-align: center;
    box-sizing: border-box;
    font-family: var(--font-main);
    color: var(--dark-color);
}

html{
    height: 100vh;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header,
footer {
    background-color: var(--main-color);
    padding: 48px;
    font-family: var(--font-heading);
    position: relative;
    width: 100%;
}

.nav-links {
    padding: 1%;
    background-color: var(--main-color);
    border-bottom: 1px solid var(--dark-color);
    border-top: 1px solid var(--dark-color);
  }

  nav a {
    text-decoration: none;
    padding: 5%;
  }

  nav a:hover {
    text-decoration: underline;
  }

main {
    background-color: var(--light-color);
    flex: 1;
    display: flex;
}

.sidebar {
    padding: 6%;
    text-transform: capitalize;
    background-color: #FFFFFF;
}

.sidebar p {
    margin: 2%;
    text-align: start;
}

footer p {
    margin-bottom: 0;
}

footer a {
    padding: 10px;
}

footer .fa-brands,
footer .fa-solid {
    transition: 0.5s;
} 

footer .fa-brands:hover,
footer .fa-solid:hover {
    scale: 1.3;
}

.logo {
    width: 200px;
    height: auto;
    position: absolute;
    left: 48px;
    top: 24px
}

h1 {
    text-align: center;
}
@media screen and (max-width: 660px) {
    header {
        padding: 16px;
    }

    .logo {
        left: 0;
        padding: 12px;
        position: relative;
        top: 0;
        width: 200px;    
    }

    h1 {
        margin: 0;
    }
}
